services:
  db:
    image: postgres:18.1-alpine3.22
    container_name: postgres_db
    restart: always
    environment:
      # These match the keys in your .env file
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${DB_EXTERNAL_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer_ui
    restart: always
    ports:
      - "${ADMINER_EXTERNAL_PORT}:8080"
    depends_on:
      - db

volumes:
  postgres_data:
